<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="org.knime.workbench.repository.categories">
        <category
              level-id="loci"
              name="LOCI Curvlets Integration"
              path="/community/loci">
        </category>
     </extension>
     <extension
           point="org.knime.workbench.repository.nodes">
        <node
              expert-flag="false"
              factory-class="loci.knime.curvlets.nodes.gocak.GoCAKNodeFactory"
              id="loci.knime.curvlets.nodes.gocak.GoCAKNodeFactory">
        </node>
     </extension>
</plugin>
